.button {
  width: 150px;
  height: 100px;
  border: 1px solid #41d9ea;
  border-radius: 5px;
  background-color: #41d9ea;
}
.btn-text {
  color: #053e67;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}
