.container {
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 60%;
  border: 1px solid #10636c;
  border-radius: 5px;
  margin: 20px;
  padding: 30px;
  position: relative;
  color: #321e5a;
  box-shadow: 5px 4px #bebfbf;
}

.del-button {
  cursor: pointer;
  position: absolute;
  font-weight: bold;
  background-color: #41d9ea;
  border: 1px solid #41d9ea;
  color: #321e5a;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  margin: 10px;
  right: 74px;
  top: 15px;
}

.user-nickname {
  font-weight: bold;
  text-transform: uppercase;
}

.user-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.user-link {
  text-decoration: none;
  color: #321e5a;
}

.post-title {
  width: 90%;
  display: inline-block;
  margin: 2px;
  text-transform: uppercase;
}

.post-body {
  width: 90%;
  display: inline-block;
  margin: 20px 0 0 0;
}
