
$primary-fonts: "Roboto", sans-serif;
$primary-color: #4e4e4e;

$subtitle-color: #7c7c7c;
$text-color: #5c5c5c;
$back-color: #000000;
$color-footer-text: #b9b9b9;
$color-footer-title: #fefefe;
$color-insta-little: rgba(0, 0, 0, 0.0001);
$color-menu-back: #f5f5f5;

